{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!
{% endblock %}

{% block body %}
	<h1>Content inventory</h1>
    {% for inventoryRow in inventoryContent %}
        <p>{{ inventoryRow.ingredient.name }} <span>x{{ inventoryRow.stock }}</span></p>
        <a href="{{ path('app_inventory_remove', {"row" : inventoryRow.id}) }}">
            <p>Supprimer de l'inventaire</p>
        </a>
        <a href="{{ path('app_inventory_edit', {"row" : inventoryRow.id}) }}">
            <p>Editer</p>
        </a><br/>
    {% endfor %}
{% endblock %}

