{% extends 'base.html.twig' %}

{% block title %}Hello InventoryController!
{% endblock %}

{% block body %}
	{{ form_start(form) }}
        <button type="submit">
            <p>Editer</p>
        </button>
	{{ form_end(form) }}
{% endblock %}
