{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}
    <h1>Modifier la limite</h1>
    {{ form_start(form) }}
        <button type="submit">
            <p>Définir la limite</p>
        </button>
    {{ form_end(form) }}
{% endblock %}

