{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!
{% endblock %}

{% block body %}
	<h1>List user</h1>
	<hr/>
	{% for user in userList %}
		{% if user == app.user %}
			<h2 class="userEmail">{{ user.email }}</h2><br/>
		{% else %}
			<p class="userEmail">{{ user.email }}</p><br/>
		{% endif %}
		
		<a href="{{ path('app_inventory_ousted', {'id' : user.id}) }}">
			<p>Retirer du foyer</p>
		</a>
		<hr/>

	{% endfor %}
{% endblock %}
