{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}
	<h1>Settings</h1>
    <p>Limite de consommation : {{ app.user.inventory.limitDate }} jours</p>
    <br/>
    
    <a href="{{path('app_inventory_limit')}}">
        <p>
            Modifier la limite
        </p>
    </a>
    <br/>

{% endblock %}

