{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!
{% endblock %}

{% block body %}
	<h1>Request received</h1>
	<hr/>
	{% for request in requestReceived %}
		<div class="div-received">
			<p class="userEmail">{{ request.user.email }}</p><br/>
			<p>Code :
				{{ request.inventory.invitationCode }}</p><br/>
			<a href="{{ path('app_request_cancel', {'id' : request.id}) }}">
				Annuler la demande
			</a><br/>

			<a href="{{ path('app_request_accept', {'id' : request.id}) }}">
				<p>Accepter la demande</p>
			</a>

			<hr/>
		
		</div>

	{% endfor %}
{% endblock %}

