{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!{% endblock %}

{% block body %}
    <h1>Sending request</h1>
    <hr/>
    {% for request in requestSending %}
        <p>{{ request.user.email }}</p><br/>
        <p>Code : {{ request.inventory.invitationCode }}</p><br/>
        <a href="{{ path('app_request_cancel', {'id' : request.id}) }}">
            <p>Annuler la demande</p>
        </a>
        <hr/>
        
    {% endfor %}
{% endblock %}
