{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<h1>Ajout manuel</h1>

	{{ form_start(form) }}
		<button type="submit">
			<p>Ajouter le produit</p>
		</button>
	{{ form_end(form) }}
{% endblock %}
