{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
    <h1>{{ ingredient.brand }} - {{ ingredient.name }}</h1>
    <h3>{{ ingredient.description }}</h3>

    {% if ingredient.imageTemp %}
        <img src="{{ ingredient.imageTemp }}" alt="">
    {% endif %}
    
    

    {{ form_start(form) }}

    <button type="submit">
        <p>Ajouter</p>
    </button>

    <a href="{{ path('app_product_scan')}}">
        <p>Annuler</p>
    </a>
    {{ form_end(form) }}

{% endblock %}
