{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <button id="start-button">Start</button>
    <div id="interactive" class="viewport"></div>
    <div id="divCode">
        <p id="textCode"></p>
    </div>

    <br/><a href="{{ path('app_product_manual_add') }}">
        <p>Ajout manuel</p>
    </a>
    <script src="{{ asset('js/quagga.min.js')}}"></script>
    <script src="{{ asset('js/scan.js')}}"></script>
{% endblock %}
