{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
    <h1>Choice Recipe</h1>

    <a href="{{ path('app_recipe_random') }}">
        <p>Recette aléatoire</p>
    </a>

    <a href="{{ path('app_recipe_perso') }}">
        <p>Recette personnalisée</p>
    </a>

    <br/>
{% endblock %}
