<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("medias/icon.png") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% if app.user %}

            <a href="{{ path("app_product_scan") }}">
                <p>Scan</p>
            </a>

            <a href="{{ path("app_inventory_content") }}">
                <p>Inventory</p>
            </a>

            <a href="{{ path("app_recipe") }}">
                <p>Recettes</p>
            </a>

            <a href="{{ path("app_setting") }}">
                <p>Settings</p>
            </a>

            <a href="{{ path("app_logout") }}">
                <p>Déconnexion</p>
            </a>
        
        {% endif %}
        
    </body>
</html>
